<li>
	{{name}}

	<button type="button" class="btn btn-success change-devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if devour }}READY TO EAT{{else}}FEEDING TIME!{{/if}}
	</button>

	<button type="button" class="btn btn-danger delete-burger" data-id="{{this.id}}">REMOVE!</button>
</li>
